{
    debug

    acme_ca https://acme-v02.api.letsencrypt.org/directory
}

https://__DOMAIN__ {
    reverse_proxy {
        to http://jinear-app:80
        header_up Host {http.reverse_proxy.upstream.host}
        header_up X-Real-IP {http.reverse_proxy.upstream.address}
    }
}

https://__API_DOMAIN__ {
    reverse_proxy {
        to http://jinear-core:8008
        header_up Host {http.reverse_proxy.upstream.host}
        header_up X-Real-IP {http.reverse_proxy.upstream.address}
    }
}

https://__FILES_DOMAIN__ {
    @all {
        method GET POST PUT DELETE HEAD OPTIONS
    }

    reverse_proxy @all {
        to http://jinear-minio:9000
        header_up Host {upstream_hostport}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}

        # Preserve original headers
        header_up -X-Forwarded-Host
    }
}
