@use "../../../../../styles/breakpoints.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  container-type: inline-size;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: 3rem;
  flex-wrap: wrap;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

.nameIcon {
  min-width: 21px;
}

.content {
}


@container (max-width: 850px) {
  .content {
  }
}
