.container {
  display: flex;
  flex-direction: row;
  gap: 1ch;
  align-items: flex-end;
}

.name {
  /* opacity: 0.5; */
  font-weight: 500;
  /* font-size: 0.9rem; */
}

.address {
  opacity: 0.5;
}
