@import "/styles/breakpoints.scss";

.container {
  display: flex;
  flex-direction: column;
  width: var(--full);
  max-width: var(--full);
  gap: 1rem;
}

.sectionTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.sectionTitle {
  font-weight: 600;
  font-size: 1rem;
}

.tabbedPanel {
  max-width: calc(100vw - var(--side-menu-width));
  overflow-x: scroll;
  min-height: 60vh;
}

.tabViewContainer {
  overflow-x: scroll;
  min-height: 60vh;
}

.weekViewContainer {
  max-width: calc(100vw - var(--side-menu-width));
  // overflow-x: scroll;
  min-height: 4rem;
}

@media (max-width: $tablet) {
  .tabbedPanel {
    max-width: 100vw;
    overflow-x: scroll;
  }
  .weekViewContainer {
    max-width: 100vw;
    // overflow-x: scroll;
  }
}
