.teamNameContainer {
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
}

.teamName {
  font-weight: 600;
}

.teamSelectButton {
  flex: 1;
  /* max-width: calc(var(--side-menu-main-menu-width) - 1rem); */
}

.spacer {
  flex: 1;
  min-width: 1ch;
}
.icon {
  min-width: 0.9rem;
}
