.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: unset !important;
}

.circularProgressContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius);
  height: 6rem;
  width: 6rem;
}

.circularProgress > svg {
  color: var(--c-BABY_POWDER3) !important;
}
