.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  height: 100vh;
}

.actionContainer {
  display: flex;
}

.note {
  position: relative;
  width: 340px;
  padding: 20px 32px 20px 24px;
  transform: rotate(-7.5deg);
}

.text {
  position: relative;
  z-index: 10;
  max-width: none;
  padding-right: 0px;
  font-family: "Permanent Marker", sans-serif;
  color: #000;
  /* font-size: 2rem; */
  line-height: 1.25;
  font-weight: 700;
}

.stickyNote {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  /* background-color: #ff7519; */
  background-color: var(--c-HIGHLIGHT_YELLOW);
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(0, 0, 0, 0.08) 29%,
    hsla(0, 0%, 100%, 0.15) 31%,
    hsla(0, 0%, 100%, 0.2)
  );
  box-shadow: -12px 99px 100px 0 rgba(0, 0, 0, 0.1);
}

.stickyNoteShadow {
  position: absolute;
  left: 0.5px;
  top: 30%;
  right: 0.5px;
  z-index: 1;
  height: 100px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
  filter: blur(1px);
  transform: skew(-6deg, 0deg);
  transform-origin: 0% 0%;
  top: 45%;
  height: 140px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2), transparent);
  filter: blur(4px);
}

.stickyNoteShadow2 {
  position: absolute;
  left: 0.5px;
  top: 30%;
  right: 0.5px;
  z-index: 1;
  height: 100px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
  filter: blur(1px);
  transform: skew(-6deg, 0deg);
  transform-origin: 0% 0%;
  top: 60%;
  height: 180px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.1), transparent);
  filter: blur(16px);
}
