.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--c-primary-shade-0);
  border-radius: var(--border-radius);
  gap: 0.25ch;
}

.select {
  background-color: var(--c-primary-shade-0);
}

.select:hover {
  background-color: var(--c-primary-shade-1) !important;
}
