@import "/styles/breakpoints.scss";

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.imageContainer {
  position: relative;
  height: calc(min(120ch, calc(100vw - calc(var(--gap) * 2))) / 1.77);
  border: solid;
  border-radius: var(--border-radius);
  border-width: thin;
  border-color: var(--c-primary-shade-0);
  overflow: hidden;
  box-shadow: var(--box-shadow-soft);
}
