.container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  text-align: left;
  padding-left: var(--indent-8);
}

.activeButton {
  font-weight: 600;
}
