@import "/styles/breakpoints.scss";

.listTitle {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.listTitleButton {
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--c-text-color);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.itemContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: grab !important;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--c-primary-shade-1-op025);
}

.taskRow {
  flex: 1;
}

.taskRowContainer {
  display: flex;
  flex: 1;
}

.itemDragIconContainer {
  cursor: grab !important;
}

.itemDragIconContainer:hover {
  background-color: unset !important;
}

.titleActionBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.titleLabelContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.editTitleButton {
  display: none;
}

.titleLabelContainer:hover {
  .editTitleButton {
    display: flex;
  }
}

@media (max-width: $tablet) {
  .itemContainer {
    align-items: flex-start;
  }
}
