.container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  background-color: var(--c-primary-shade-1);
  min-width: 5ch;
  max-width: 5ch;
  height: 5ch;
  box-shadow: var(--box-shadow-soft);
}

.initials {
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  /* color: var(--c-BABY_POWDER); */
}
