.container {
    display: flex;
    flex-direction: column;
}

.notebookListContainer {
    display: flex;
    flex-direction: column;
    gap: .1rem;
}

.noNotebookContainer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}