.container {
    display: flex;
    flex-direction: column;
}

.notebookListContainer {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.noNotebookContainer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.lineLoading{
    background-color: var(--c-primary-shade-0);
}