.container {
  z-index: 3;
}
.actionBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

.subtext {
  flex: 1;
}

.filterButtonWithActiveFilter {
  font-weight: 700;
}
