.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.cell {
  text-align: left;
  background-color: var(--c-primary-shade-0);
  padding: 0.25rem 0.75rem;
  border-radius: var(--border-radius);
}

.cell:hover {
  cursor: default;
}
