.dayTitle {
  flex: 1;
  position: sticky;
  top: 0;
}

.today {
  color: var(--menu-workplace-title-color) !important;
}

.titleContiner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.soft {
  opacity: 0.85;
  font-size: 0.8rem;
  text-align: center;
}
