@import "/styles/breakpoints.scss";

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: var(--calendar-container-gap);
  min-height: calc(var(--calendar-header-main-height) + 2rem);
  //TODO cgds-275
  // max-width: calc(100vw - var(--side-menu-width));
}

.weeks {
  display: flex;
  flex-direction: column;
}

.newTaskButton{
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  gap: .5rem !important;
}

@media (max-width: $tablet) {
  .container {
    max-width: unset;
  }

  .newTaskButton{
    bottom: calc(2.5rem + var(--nav-bar-height) + var(--mobile-menu-action-bar-height));
    right: 1rem;
  }
}
