.container {
  position: relative;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 90vh;
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  backdrop-filter: var(--backdrop-filter-blur);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
}

.weeks {
  display: flex;
  flex-direction: column;
}
