.container {
  display: flex;
  flex-direction: column;
  width: var(--full);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  /* align-self: center; */
  gap: 1rem;
  /* width: var(--content); */
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
}

.emptyStateContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
