.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  text-align: left;
  font-size: 0.75rem;
  /* padding-left: var(--indent-8); */
}

/* .title {
  width: 100%;
} */
