.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text {
  color: var(--c-secondary-shade-0);
  line-height: 1.6;
}

.contentContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.currentTheme {
  font-weight: 600;
}
