.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.receiptList {
  display: flex;
  flex-direction: column;
}

.subscriptionActionButtonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}
