.contentContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.textArea{
min-height: 2rem;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: 600;
}
