@import "/styles/breakpoints.scss";

.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.heroTitle {
  position: relative;
  font-size: 3rem;
  line-height: 4rem;
  // width: 85%;
  font-weight: 400;
  margin: 1rem 0;
  overflow: visible;
}

.heroHighlighted {
  //   color: black;
  //   background-color: var(--c-JINEAR_YELLOW);
  border-radius: 0.25rem;
  padding: 0.25rem 1rem;
  margin-left: -1rem;
}

.heroText {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@media (max-width: $laptop) {
  .heroTitle {
    font-size: 2.25rem;
    line-height: 3rem;
  }
}

@media (max-width: $tablet) {
  .heroTitle {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .heroText {
    font-size: unset;
    line-height: unset;
  }
}

@media (max-width: $mobile-l) {
  .heroTitle {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (max-width: $mobile-s) {
  .heroTitle {
    font-size: 1.1rem;
    line-height: 1.65rem;
  }
}
