@use "../../../styles/breakpoints.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  max-width: 100vw;
  overflow-x: clip;

  --workspace-side-menu-mobile-navigator-height: 0px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: var(--workspace-header-height);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;

  background-color: var(--c-primary-shade-0);
  border-bottom-style: solid;
  border-bottom-color: var(--c-primary-shade-1);
  border-bottom-width: 1px;
}

.backButton {
  gap: 0.5rem !important;
}

.title {
  flex: 1;
  font-size: 0.875rem;
}

.headerRightContent {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.content {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 100dvh;
  padding-top: var(--workspace-header-height);
}

.pageContent {
  flex: 1;
  min-width: 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all var(--fade);
  padding: var(--workspace-layout-page-padding);
}

.pageContentWithSideMenu {
  padding-left: calc(var(--tasks-section-sidebar-width) + var(--workspace-layout-page-padding));
}

@media (max-width: $tablet) {
  .content {
    flex-direction: column-reverse;
    padding-bottom: calc(1rem + var(--mobile-menu-action-bar-height));
  }

  .pageContent {
    padding-left: unset;
    padding-right: unset;
  }
}
