.container {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  z-index: 999;
  border-radius: var(--border-radius);
  background-color: var(--c-primary-shade-0);
  border: 1px var(--c-primary-shade-1-op05) solid;
}

.listItem {
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.listItem:hover {
  background-color: var(--c-primary-shade-1);
}

.selected {
  background-color: var(--c-primary-shade-1);
}
