.container {
  position: absolute;
  bottom: 0;
  /*background-color: var(--c-secondary-shade-1);*/
  background-color: var(--c-JINEAR_ORANGE);
  width: 100%;
  height: 2px;
  border-radius: var(--border-radius);
  z-index: 4;
}
