.container {
    display: flex;
    flex-direction: column;
    padding-top: 0 !important;
}

.quickActions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
}

.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}