.container {
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

.quickActions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}
