@import "/styles/breakpoints.scss";

.mainCalendarHeader {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 0 0.25rem;
  margin-bottom: 1rem;
}

.headerInfoContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.headerLabelContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.monthHeader {
  font-size: 2rem;
}

.calendarNavigation {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.filterButtonWithActiveFilter {
  font-weight: 700;
}

.squeezedViewToggleButton {
  display: none;
}

.viewTypeSegmentLabel {
  text-align: center;
}

@media (max-width: 1240px) {
  .squeezedViewToggleButton {
    display: flex;
  }
}
