.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  border-radius: 0;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-width: 1px;
  border-right-style: solid;
  border-left-color: var(--c-primary-shade-0-op05);
  border-right-color: var(--c-primary-shade-0-op05);
}

.width-month {
  min-width: var(--task-card-width-month);
}

.width-week {
  min-width: var(--task-card-width-week);
}
