.container {
    display: flex;
    flex-direction: row;
}

.deselectButton {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.selectedButton {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.icon {
    width: 12px;
    min-width: 12px;
}