.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.title {
  font-size: 1.1rem;
  font-weight: 600;
}

.subTitle {
  // opacity: 0.65;
  color: var(--c-secondary-shade-1);
}

.subtitleContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
