.container {
    display: flex;
    flex-direction: column;
}

.notebookButton {
    text-align: start;
    gap: .5rem;
}

.notebookName {
    flex: 1;
    font-size: 0.75rem;
}


.notebookNotesContainer {
    display: flex;
    flex-direction: column;
}