.container {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  background-color: var(--c-primary-shade-0);
  gap: 1ch;
  row-gap: 0.25rem;
  color: var(--c-text-color);
  min-height: 2rem;
}

.container:hover {
  cursor: pointer;
  background-color: var(--c-primary-shade-1);
}

.infoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0.85ch 1ch;
  gap: 1ch;
}

.taskTagCell {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  padding: 0.1ch 1.5ch !important;
  border-radius: var(--border-radius) !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: var(--c-primary-shade-0-op05) !important;
  font-weight: 600 !important;
  font-size: 0.75rem !important;
  min-width: unset !important;
  background-color: unset !important;
}

.taskTagCell:hover {
  background-color: var(--c-primary-shade-0) !important;
}
