.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iframe {
  border: none;
  background-color: var(--c-BABY_POWDER);
  min-height: 120px;
  width: 1px;
  min-width: 100%;
}
