.container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.42rem 0.5rem 0.42rem 0.75rem;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--c-primary-shade-0);
  padding: 0.42rem 0.75rem;
  border-radius: var(--border-radius);
}

.ownerContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.profilePicContainer {
  position: relative;
}

.profilePic {
  height: 25px;
  width: 25px;
}

.userName {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.25ch;
}

.addedCommentText {
  color: var(--c-secondary-shade-0-op05);
}

.createTime {
  color: var(--c-secondary-shade-0-op05);
  cursor: default;
}

.newCommentContainer {
  display: flex;
  flex-direction: column;
  background: var(--c-primary-shade-0);
  border-width: 1px;
  border-radius: var(--border-radius);
  border-style: solid;
  border-color: transparent;
}

.input {
  flex: 1;
  background: transparent !important;
  font-family: inherit;
  font-size: inherit;
  padding: 1px 6px;
  overflow: hidden;
  resize: none !important;
  content: attr(data-value) " ";
  min-height: 2.5rem;

  /* form-sizing vs. field-sizing this will be available later*/
  /* form-sizing: content; */
}

.input:hover {
  background: transparent !important;
}

.input:focus {
  border-color: transparent !important;
  outline: none !important;
}

.placeHolder {
  pointer-events: none;
  position: absolute;
  top: 0.05rem;
  left: 0.6rem;
  color: var(--c-secondary-shade-0-op05);
}

.inputContainer {
  position: relative;
}

.toolbar {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: var(--c-primary);
  border-radius: var(--border-radius);
  border-style: solid;
  border-color: var(--c-primary-shade-1-op05);
  padding: 0.15rem 0.5rem;
  min-width: 135px;
}

.submitButton {
  position: absolute;
  right: 0;
  bottom: 0;
}

.quotedCommentContainer {
  background-color: var(--c-primary);
  border-radius: var(--border-radius);
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.unquoteCommentButtonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.unquoteCommentButton {
  position: absolute;
  right: 0;
  top: -0.6rem;
}
