.container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  text-align: left;
}

.topicListContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.noTeamLabel {
  color: var(--c-secondary-shade-0-op05);
  text-align: center;
  font-size: 0.8rem;
  margin: 1.25rem 1rem;
}
