.container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.42rem 0.5rem 0.42rem 0.75rem;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.42rem 0 0.42rem 0.75rem;
  border-radius: var(--border-radius);
  border-style: solid;
  border-color: var(--c-primary-shade-0-op05);
  border-radius: var(--border-radius);
}

.content:hover {
  background-color: var(--c-primary-shade-0-op05);
  border-color: var(--c-primary-shade-1-op05);
}

.contentQuoted:hover {
  background-color: unset !important;
}

.content:hover .actionButtonBar {
  display: flex;
}

.ownerContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  height: 2rem;
}

.profilePicContainer {
  position: relative;
  padding-top: 0.8rem;
  width: 25px;
}

.profilePic {
  height: 25px;
  width: 25px;
}

.userName {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.25ch;
}

.addedCommentText {
  color: var(--c-secondary-shade-0-op05);
}

.createTime {
  color: var(--c-secondary-shade-0-op05);
  cursor: default;
}

.updateTime {
  text-align: right;
}

.actionButtonBar {
  display: none;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  justify-content: flex-end;
}

.quotedCommentContainer {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
