@import "/styles/breakpoints.scss";

.container {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  justify-content: space-evenly;
  grid-row-gap: 1.5rem;
}

@media (max-width: $mobile-l) {
  .container {
    grid-template-columns: 1fr;
  }
}
