@import "/styles/breakpoints.scss";

.container {
  display: flex;
  flex-direction: row;
}

.mainButton {
  flex: 1;
  display: flex !important;
  flex-direction: row !important;
  gap: 1rem !important;
  text-align: left !important;
  justify-content: flex-start !important;
}

.iconAndNameContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.mediaInfoContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.mediaNameLabel {
  width: 0;
  flex: 1;
}

.mediaSizeLabel {
  min-width: 10ch;
  text-align: right;
  font-variant-numeric: tabular-nums;
}

.dateLabel {
  min-width: 14ch;
  text-align: right;
  font-variant-numeric: tabular-nums;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.icon {
  color: var(--c-secondary-shade-0-op05);
}

.container:hover .icon {
  color: var(--c-secondary);
}

.actionButton {
  min-width: 24px !important;
  min-height: 24px !important;
}

@media (max-width: $tablet) {
  .container {
    align-items: flex-start;
  }
  .mainButton {
    flex-direction: column !important;
    gap: 0.25rem !important;
    align-items: flex-start !important;
  }
  .mediaNameLabel {
    width: 50vw;
  }
  .mediaSizeLabel {
    min-width: unset;
    text-align: left;
  }
  .dateLabel {
    min-width: unset;
    text-align: left;
  }
  .iconAndNameContainer {
    align-items: center;
  }
}
