.container {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dateActionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: flex-end; */
  margin: 0.25rem 0;
  gap: 0.5rem;
}

.actionButton {
  color: var(--c-link-color);
}
.actionButton:hover {
  color: var(--c-link-color);
  background-color: unset;
}

.quickDatesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
