.form {
  display: flex;
  flex-direction: column;
  overflow: visible;
  z-index: 999;
  position: relative;
  gap: 1rem;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-height: 3.4rem;
  overflow: visible;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  position: sticky;
  bottom: 0;
  padding: 1rem 0;
  z-index: 3;
}

.footerButton {
  min-width: 6rem;
}

.link {
  opacity: 0.8;
  font-size: 0.7rem;
  color: var(--c-link-color);
}

.visibilityTypeContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 8rem;
}

.upgradeYourPlanContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.upgradeButton {
  align-self: center;
  color: var(--c-gradient-gold-0) !important;
  background: unset !important;
}

.upgradeButton:hover {
  background-color: var(--c-primary-shade-1) !important;
}
