.container {
  color: var(--c-BABY_POWDER);
  font-weight: 600;
  /* background-image: linear-gradient(to right, var(--c-gradient-gold-0), var(--c-gradient-gold-1)); */
  background: linear-gradient(315deg, var(--c-gradient-gold-0), var(--c-gradient-gold-1-alternative));
  background-size: 400% 400%;

  -webkit-animation: upgrade 8s ease infinite;
  -moz-animation: upgrade 8s ease infinite;
  animation: upgrade 8s ease infinite;
}

.container:hover {
  color: var(--c-BABY_POWDER2);
}

@-webkit-keyframes upgrade {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes upgrade {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes upgrade {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
