.container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--c-primary-shade-0);

  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: var(--c-primary-shade-1);
  border-radius: 0;
}

.workspaceList {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  overflow-x: scroll;
  overflow-y: visible;
  padding: 7.5px;
}

.addIcon {
  max-width: unset;
  color: var(--c-secondary-shade-1);
  opacity: 0.5;
}

.newWorkspaceButton {
  /* height: var(--side-menu-bottom-workspace-menu-height); */
  /* width: 35px; */
  width: 28px;
  height: 28px;
  border-radius: 9.6px;
}

.newWorkspaceButton:hover .addIcon {
  opacity: 1;
}
