.photoInput {
  display: none;
}

.profilePicture {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  position: relative !important;
  width: 125px !important;
  height: 125px !important;
  border-radius: 50px !important;
  border-color: var(--c-primary-shade-1) !important;
  border-width: thin !important;
  /* border-width: 0px; */
  border-style: solid !important;
  object-fit: cover !important;
}

.profilePicture:hover {
  background-color: var(--c-primary-shade-0) !important;
  cursor: pointer !important;
}

.photoContainer {
  position: relative;
  width: 125px;
  height: 125px;
  border-radius: 50px;
  /* overflow: hidden; */
}

.changeLabel {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1.5rem;
  width: 2.5rem;
  text-align: center;
  font-weight: 600;
  cursor: default;
}
