.container {
    display: flex;
    flex-direction: column;
}

.notebookButton {
    text-align: start;
    gap: .5rem;
    padding-left: .25rem;
    padding-right: .25rem;
}

.notebookName {
    flex: 1;
    font-size: 0.75rem;
}


.notebookNotesGreaterContainer {
    display: flex;
    flex-direction: row;
    gap: .2rem;
}

.notebookNotesContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: .25rem;
    border-left: 1px solid var(--c-primary-shade-1);
}