.container {
  flex: 1;
  min-height: 140px;
  /* overflow: hidden; */
}

.container:hover .titleContainer {
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: var(--c-secondary-shade-0);
}

.titleContainer {
  cursor: default;
  padding: 0.25rem 0.5rem;
  font-weight: 700;
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: var(--c-primary-shade-1);
}

.differentMonthContainer {
  opacity: 0.7;
}

.differentMonthTitle {
  font-weight: 400;
}

.listContainer {
  overflow: hidden;
}

.taskListContainer {
  display: flex;
  flex-direction: column;
  margin-top: var(--calendar-event-gap);
  gap: var(--calendar-event-gap);
}
