.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
}

.notFound {
    padding: 2rem 1rem;
    text-align: center;
    color: var(--c-secondary-shade-0, inherit);
}
