@import "/styles/breakpoints.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
  flex: 1;
  gap: 1rem;
  padding: 0 1rem;
  height: var(--workspace-header-height);
  min-height: var(--workspace-header-height);
  max-height: var(--workspace-header-height);
  align-items: center;
  justify-content: space-between;
  background-color: var(--c-primary);
  border-bottom-style: solid;
  border-bottom-color: var(--c-primary-shade-0);
  border-bottom-width: 1px;
}

.headerLeftContent {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.headerRightContent {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-top: var(--workspace-header-height);
  height: 100dvh;
  max-height: 100dvh;
  min-height: 100dvh;
}

.workspaceSideMenuContainer {
  padding-top: 1rem;
  max-width: var(--workspace-side-menu-max-width);
  min-width: var(--workspace-side-menu-max-width);
  background-color: var(--c-primary);
  width: 100%;
  z-index: 98;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: var(--c-primary-shade-0);
  overflow-y: scroll;
  overflow-x: clip;
}

.pageContent {
  flex: 1;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: var(--workspace-layout-page-padding);
  padding-top: var(--workspace-layout-content-vertical-padding);
}

.upgradeButton {
  align-self: center;
  color: var(--c-gradient-gold-0) !important;
  background: unset !important;
}
.upgradeButton:hover {
  background-color: var(--c-primary-shade-1) !important;
}

@media (max-width: $tablet) {
  .workspaceSideMenuContainer {
    padding-top: unset;
    max-width: unset;
    min-width: unset;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: var(--c-primary-shade-0);

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--workspace-side-menu-mobile-navigator-height);
    // overflow-x: scroll;
    overflow-y: visible;
  }
}

@media (max-width: $tablet) {
  .pageContent {
    padding-bottom: calc(
      calc(
          calc(var(--workspace-side-menu-mobile-navigator-height) + var(--mobile-menu-action-bar-height)) +
            var(--workspace-header-height)
        ) + 2rem
    ) !important;
  }
}

@media (max-width: $mobile-m) {
  .upgradeButton {
    display: none !important;
  }
}
