@import "/styles/breakpoints.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: var(--workspace-header-height);
  background-color: var(--c-primary);
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 100dvh;
  padding-top: var(--workspace-header-height);
  justify-content: center;
}

.workspaceSideMenuContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: calc(var(--workspace-header-height) + 1rem);
  max-width: var(--workspace-side-menu-max-width);
  min-width: var(--workspace-side-menu-max-width);
  background-color: var(--c-primary);
  z-index: 98;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: var(--c-primary-shade-0);
  overflow-y: scroll;
  overflow-x: clip;
}

.pageContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: var(--workspace-layout-content-vertical-padding);
  max-width: var(--page-extended);
}

@media (max-width: $tablet) {
  .content {
    padding-bottom: calc(var(--workspace-side-menu-mobile-navigator-height) + var(--mobile-menu-action-bar-height));
  }

  .workspaceSideMenuContainer {
    padding-top: unset;
    max-width: unset;
    min-width: unset;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: var(--c-primary-shade-0);

    position: fixed;
    top: unset;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--workspace-side-menu-mobile-navigator-height);
    overflow-y: visible;

    display: flex;
    align-items: center;
  }

  .workspaceSideMenuContainerPwa {
    align-items: flex-start !important;
  }

  .pageContent {

  }
}
