.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-end;
}

.labelContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 1.75rem;
}

.labelTextContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
}

.quickActionsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.quickDateButton {
  color: var(--c-link-color);
}
.quickDateButton:hover {
  color: var(--c-link-color);
  /* background-color: unset; */
}
