.wrapper {
  padding: 3px;
}

.container {
  min-width: 28px;
  width: 28px;
  height: 28px;
  border-radius: 9.6px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container:hover {
  background-color: var(--c-primary);
}

.usernameLabelContainer {
  max-width: 0;
  transition: var(--fade);
}

.usernameLabel {
  display: none;
}

.container:hover .usernameLabelContainer {
  max-width: 250px;
}

.container:hover .usernameLabel {
  display: flex;
}

.container-without-profile-pic {
  background-color: var(--c-primary-shade-1);
}

.preffered {
  border-style: solid;
  border-width: 2px;
  border-color: var(--c-secondary-shade-0-op05);
  border-radius: 11.6px;
}

.profilePic {
  width: 25px;
  height: 25px;
  border-radius: 9.6px;
  position: unset !important;
}

.profilePicImg {
  border-radius: 9.6px;
  border: none;
}

.firstLetter {
  text-align: center;
  color: var(--c-secondary-shade-0);
  font-weight: 700;
  /* font-size: 1.25rem; */
}
