.contentContainer {
  padding-top: 1rem !important;
  padding-bottom: 2rem !important;
  gap: 1rem;
}

.upgradeButton {
  /* align-self: center; */
  /* color: var(--c-gradient-gold-0) !important; */
  background: unset !important;
}

.upgradeButton:hover {
  background-color: var(--c-primary-shade-1) !important;
}
