@import "/styles/breakpoints.scss";

.form {
  display: flex;
  flex-direction: column;
  overflow: visible;
  z-index: 999;
  position: relative;
  min-height: var(--new-task-and-event-form-min-height);
  flex: 1;
}

.formContent {
  display: flex;
  flex-direction: column;
  overflow: visible;
  z-index: 3;
  position: relative;
  flex: 1;
  gap: 1.25rem;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-height: 3.4rem;
}

.titleAndActionBarContainer {
  display: flex;
  flex-direction: column;
}

.workspaceAndTeamInfoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
  margin-left: -.5rem;
}

.workspaceAndTeamInfoButtonContainer {
  margin-top: unset !important;
  justify-content: flex-start;
  // flex-direction: row-reverse;
}

.actionBarContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;
}


.footerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1ch;
  position: sticky;
  bottom: 0;
  background-color: var(--c-primary);
  border-top-color: var(--c-primary-shade-1);
  border-top-width: 1px;
  border-top-style: solid;
  padding: 0.5rem 0;
  z-index: 3;
  margin-top: 1rem;
}

.footerButton {
  min-width: 6rem;
}

.footerActionButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
}

.loadingButton {
  color: var(--c-primary-shade-1) !important;
}
