.container {
    display: flex;
    justify-content: flex-end;
    border: none !important;
}

.replyToggleButton {
    /*border-top-left-radius: 0 !important;*/
    /*border-top-right-radius: 0 !important;*/
    /*border-bottom-right-radius: 0 !important;*/
}

.input {
    background: transparent !important;
}

.input:hover {
    background: transparent !important;
}

.input:focus {
    border-color: transparent !important;
    outline: none !important;
}

.inputContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: none !important;
    /*border-style: solid;*/
    /*border-width: thin;*/
    /*border-color: var(--c-primary-shade-1);*/
    /*border-radius: var(--border-radius);*/

}

.inputActionBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: .25rem
}

.replyButton {
    width: 4rem;
}