.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.separator {
    margin: 0 4px;
    color: var(--c-secondary-shade-1);
    pointer-events: none;
}

.breadcrumbButton {
    padding-left: 0.15rem !important;
    padding-right: 0.15rem !important;
    overflow: visible !important;
}