@import "/styles/breakpoints.scss";

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: calc(var(--workspace-layout-content-vertical-padding) * -1);
  margin-bottom: calc(var(--workspace-side-menu-mobile-navigator-height) * -1);
  height: calc(100dvh - var(--workspace-header-height));
}

.contentContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow: scroll;
  padding: var(--workspace-layout-page-padding);
  padding-top: var(--workspace-layout-content-vertical-padding);
  padding-bottom: var(--workspace-layout-content-vertical-padding);
}

@media (max-width: $tablet) {
  .container {
    flex-direction: column-reverse;
    height: calc(100dvh - calc(var(--workspace-side-menu-mobile-navigator-height) + var(--workspace-header-height)));
  }
}
