.layoutMain {
  display: flex;
  flex-direction: "row";
}

.sideMenuContainer {
  width: 290px;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  background-color: var(--c-primary-shade-0);
}

.content {
  display: flex;
  flex: 1;
  flex-direction: "row";
  justify-content: center;
  margin-top: 85px;
}
