.wrapper {
  background-color: var(--c-primary-shade-0);
  color: var(--c-text-color);
  border-radius: var(--border-radius);
  z-index: 3;
}
.wrapper-read-only {
  background-color: unset !important;
}
.editor {
  color: var(--c-text-color);
  padding: 0 0.75rem;
}
.toolbar {
  background-color: var(--c-primary-shade-0);
  color: var(--c-text-color);
  border-radius: var(--border-radius);
  border-style: unset;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--c-primary-shade-1);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 3;
}
.toolbar-justify-end {
  justify-content: flex-end;
}

.toolbar-button {
  background: transparent;
  color: var(--c-text-color);
  transition: background-color var(--fade) linear;
  text-decoration: none;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.75rem;
}

.toolbar-button:hover {
  color: var(--c-secondary-shade-0);
  background-color: var(--c-primary-shade-1);
  box-shadow: none;
}

.toolbar-button img {
  filter: var(--toolbar-icon-filter);
}

.tool-bar-icon-popup {
  background-color: var(--c-primary-shade-0);
  color: var(--c-text-color);
  box-shadow: none;
  border-style: none;
  border-radius: var(--border-radius);
  border: 1px solid var(--c-primary-shade-1);
}

.tool-bar-icon-popup input {
  border: 1px solid var(--c-primary-shade-1);
  border-radius: var(--border-radius);
}
.tool-bar-icon-popup button {
  background: transparent !important;
  color: var(--c-text-color) !important;
  transition: background-color var(--fade) linear;
  text-decoration: none;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  border-radius: var(--border-radius);
  padding: 0.25rem 0.75rem;
}
.tool-bar-icon-popup button:hover {
  color: var(--c-secondary-shade-0);
  background-color: var(--c-secondary-shade-1);
  box-shadow: none;
}

.toolbar-dropdown-button {
  background: transparent;
  color: var(--c-text-color);
  transition: background-color var(--fade) linear;
  text-decoration: none;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  border-radius: var(--border-radius);
}

.toolbar-dropdown-button:hover {
  color: var(--c-secondary-shade-0);
  background-color: var(--c-primary-shade-1);
  box-shadow: none;
}

.toolbar-dropdown-button img {
  filter: var(--toolbar-icon-filter);
}
.toolbar-dropdown-button div {
  filter: var(--toolbar-icon-filter);
}

.toolbar-dropdown {
  background-color: var(--c-primary-shade-0) !important;
  color: var(--c-text-color) !important;
  box-shadow: none;
  border-style: none;
  border-radius: var(--border-radius);
  border: 1px solid var(--c-primary-shade-1);
}

.toolbar-dropdown:hover {
  box-shadow: none;
}

.toolbar-dropdown li {
  background: transparent;
  color: var(--c-text-color);
  transition: background-color var(--fade) linear;
  text-decoration: none;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  border-radius: var(--border-radius);
  box-shadow: none !important;
}

.toolbar-dropdown li:hover {
  color: var(--c-secondary-shade-0) !important;
  background-color: var(--c-primary-shade-1) !important;
  box-shadow: none !important;
  border-style: solid !important;
  border-color: transparent !important;
}
