.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.25rem;
}

.feedName {
  flex: 1;
  font-size: 0.75rem;
}

.feedNameButton {
  flex: 1;
  padding-left: 0.5rem !important;
}
