@import "/styles/breakpoints.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.actionBarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.statusBoardContainer {
  //   max-width: calc(100vw - var(--side-menu-width));
  overflow-x: scroll;
  min-height: 8rem;
  padding-bottom: 2rem;
}

@media (max-width: $mobile-l) {
  .statusBoardContainer {
    max-width: 100vw;
    overflow-x: scroll;
  }
}
