.container {
  padding: 1.5rem 0.5rem;
  display: flex;
  flex-direction: row;
}

.taskStateInfoContainer {
  display: flex;
  flex-direction: column;
}

.workflowStatusInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25ch;
}

.iconContainer {
  min-width: 23px;
  cursor: pointer;
  pointer-events: none;
  padding-left: 0.5rem;
}

.title {
  cursor: pointer;
  pointer-events: none;
}

.title-line-through {
  text-decoration: line-through;
}
