.container {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.mobileFooterContainerClass {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.formMobileClassName {
    margin-bottom: 5rem;
}

.modalContainer {
    align-items: flex-start !important;
    padding-top: 12.5% !important;
}
