.container {
  display: flex;
  flex-direction: row;
  position: relative;
  flex: 1;
}

.hourLabelContainer {
  position: sticky;
  left: 0;
  width: var(--calendar-week-view-left-hour-label-container-width);
  /* for upper border-width */
  margin-top: 1px;
  z-index: 4;
  background-color: var(--c-primary);
  border-right: 1px;
  border-right: solid;
  border-right-color: var(--c-primary-shade-0);
}

.zeroHoursLabel {
  top: 0.25rem !important;
}
