.container {
  height: calc(var(--calendar-week-view-day-minute-pixel-ratio-in-pixels) * 60);
  border-bottom: 1px var(--c-primary-shade-0-op05) solid;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.container:hover {
  background-color: var(--c-primary-shade-0-op05);
}

.label {
  position: absolute;
  text-align: left;
  font-size: 0.5rem;
  font-weight: 500;
}

.top {
  top: -0.5rem;
}

.bottom {
  bottom: -0.4rem;
}
