.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.container:hover {
  .editTitleButton {
    display: flex !important;
  }
}

.editTitleButton {
  display: none !important;
}
