@import "/styles/breakpoints.scss";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: var(--c-primary);
  //padding: 0.25rem 0;
  min-width: calc(100% + 1rem);
  margin-left: -1rem;
  //height: var(--nav-bar-height);
  padding: .5rem 0;
}

.logo {
  //scale: .65;
  font-size: 0.975rem;
}

.headerActionBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.themeToggleButton {
  margin-top: 0.1rem;
}

.termsLabel {
  display: flex;
}

.termsIcon {
  display: none;
}

@media (max-width: $tablet) {
  .termsLabel {
    display: none;
  }

  .termsIcon {
    display: flex;
  }
}
