.container {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    gap: 1rem;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.sectionDataContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}