
.form {
    display: flex;
    flex-direction: column;
    overflow: visible;
    z-index: 3;
    position: relative;
    min-height: var(--new-task-and-event-form-min-height);
}

.gap {
    height: .5rem;
}

.formContent {
    display: flex;
    flex-direction: column;
    overflow: visible;
    z-index: 3;
    position: relative;
    flex: 1;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-height: 5rem;
}

.footerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1ch;
    position: sticky;
    bottom: 0;
    background-color: var(--c-primary);
    border-top-color: var(--c-primary-shade-1);
    border-top-width: 1px;
    border-top-style: solid;
    padding: 0.5rem 0;
    z-index: 3;
    margin-top: 1rem;
}

.footerButton {
    min-width: 6rem;
}

.footerActionButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1ch;
}

.loadingButton {
    color: var(--c-primary-shade-1) !important;
}
