{
    debug
    auto_https off
}

http://jinear.example.com {
    reverse_proxy http://jinear-app:80
}

http://api.jinear.example.com {
    reverse_proxy http://jinear-core:8008
}

http://files.jinear.example.com {
    reverse_proxy http://jinear-minio:9000
}
