@use "../../../../../styles/breakpoints.scss" as *;

.listTitle {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  gap: .5rem
}

.closedListTitle {
  color: var(--c-primary-shade-1-op025) !important;
}

.listTitleButton {
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--c-text-color);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.titleLabelContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.titleActionBar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  //align-items: flex-end;
  //align-self: flex-end;
  gap: 0.5rem;
  margin-top: .5rem;
}

.actionBarRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.actionButton {
  gap: .5rem;
}

.boardColorIcon {
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.colorInput {
  visibility: hidden !important;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  min-height: 0 !important;
  position: absolute;
  z-index: -1;
}

.viewTypeButtonContainer {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  background-color: var(--c-primary-shade-0);
  border-radius: var(--border-radius);
}

.displayFormatButton {
  gap: .5rem;
}

.wfsColumnIcon {
  rotate: 180deg;
}

@media (max-width: $mobile-l) {
  .actionBarRow {
    justify-content: flex-end;
  }
}