.container {
    display: flex;
    flex-direction: row;
    padding: 0.42rem 0.75rem;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    gap: .25rem;
    flex: 1;
}

.homeButtonIcon {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important;
    gap: .25rem;
}

.tag {
    opacity: 0.5;
}