.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--team-week-view-day-gap);
}

.spacer {
  flex: 0;
}

.taskCard {
  display: flex;
  min-width: var(--task-card-width);
}
