.container {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  background-color: var(--c-primary-shade-1);
  height: var(--calendar-event-height);
}

.startDay {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  margin-left: 0.35rem;
}

.endDay {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  margin-right: 0.35rem;
}
