.container {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  height: var(--calendar-event-height);
  color: var(--c-text-color);
  cursor: default;
  pointer-events: none;
}

.fill {
  background-color: var(--calendar-event-background);
  cursor: pointer;
  pointer-events: all;
}

.startDay {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  margin-left: 0.35rem;
}

.endDay {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  margin-right: 0.35rem;
}

.highlight {
  background-color: var(--calendar-event-background-highlighted);
  color: black;
  font-weight: 500;
}

.title {
  cursor: default;
}
