.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.container:hover .editButton {
  display: flex;
}

.editButton {
  display: none;
  flex-direction: row;
  position: absolute !important;
  right: 0;
  top: 0;
  z-index: 5;
}

.actionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  z-index: 4;
  transition: all var(--fade-2);
}

.description {
  text-align: justify;
}

.loadingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
