.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  /* border-radius: var(--border-radius); */
  /* background-color: var(--c-primary-shade-0); */
}

.contaier-readonly {
  cursor: text;
}

/* .contaier-readonly:hover {
  background-color: var(--c-primary-shade-0);
} */

.actionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  z-index: 4;
  transition: all var(--fade-2);
}

.description {
  text-align: justify;
}

.loadingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
