.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.workflowStatusBoard {
  max-width: calc(
    100vw -
      calc(
        calc(var(--tasks-section-sidebar-width) + var(--workspace-side-menu-max-width)) +
          calc(var(--workspace-layout-page-padding) * 4)
      )
  ) !important;
}
