.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  width: 100%;
  gap: 2rem;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  text-align: end;
}

.button {
  min-width: 8rem;
  align-self: flex-end;
}
