.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  gap: 0.5rem;
}

.cell {
  flex: 1;
  background-color: var(--c-primary-shade-0);
  padding: 1rem;
  border-radius: var(--border-radius);
}

.arrow {
  align-self: center;
  color: var(--c-secondary-shade-0-op05);
}

.toggleButton {
  width: 7rem;
  color: var(--c-secondary-shade-0);
}
