.container {
    display: flex;
    flex-direction: column;
}

.containerBorder {
    border-left-style: solid;
    border-left-color: var(--c-secondary-shade-1-op05);
    border-left-width: thin;
}

.noChild {
    text-align: center;
    opacity: .5;
}