.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.title {
  font-weight: 500;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.button {
  text-align: left;
  justify-content: flex-start;
}

.currentTeamButton {
  font-weight: 600;
}
