.container {
  display: flex;
  flex-direction: column;
  width: var(--page);
  align-self: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: var(--content);
  margin-top: 2rem;
}
