.container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.progressContainer {
    display: flex;
    flex-direction: row;
    min-height: 2px;
    background-color: var(--c-BABY_POWDER);
}

.progressFilled {
    background: linear-gradient(315deg, var(--c-gradient-gold-0) 0%, var(--c-gradient-gold-1) 15%) !important;
}

.upgradeButton {
    align-self: center;
    color: var(--c-gradient-gold-0) !important;
    background: unset !important;
}

.upgradeButton:hover {
    background-color: var(--c-primary-shade-1) !important;
    color: var(--c-gradient-gold-0) !important;
}