.container {
  display: flex;
  flex-direction: column;
  gap: var(--calendar-event-gap);
  padding-bottom: var(--calendar-event-gap);
  min-height: 185px;
  position: relative;
  padding-bottom: 2rem;
  /* flex: 1; */
}

.weekRowContainer {
  display: flex;
  flex-direction: column;
  margin-top: var(--calendar-month-week-day-numbers);
  gap: var(--calendar-event-gap);
}
