.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    width: 100%;
    gap: 2rem;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.warningText {
    min-height: 1ch;
    height: 1ch;
    text-align: end;
    font-weight: bold;
}

.input {
    text-align: end;
}

.button {
    min-width: 8rem;
    align-self: flex-end;
}
