.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.listContainer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.newButton {
    display: flex;
    gap: .5rem;
    align-self: flex-end;
}